body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: ${symbol_pound}f5f5f5;
}

blockquote {
    margin-bottom: 10px;
    border-left-color: ${symbol_pound}bbb;
}

form {
    margin-top: 10px;
}

.form-signin input[type="text"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

.row {
    margin-left: 0px;
    margin-top: 10px;
    overflow: scroll;
}

.label {
    width: 90px;
    display: inline-block;
}
